@tailwind base;
@tailwind components;
@tailwind utilities;

button{
  z-index: 200;
}

ul{
  list-style: none;
  z-index: 100;
}





.rectanguloLogin {
  background:#2F4A4E8F;
  width: 700px;
  height: 500px;
  position:fixed;
  top: 100px;
  left: 500px;
  border-radius: 86px;
  border-color: black;
  list-style: none
}

.seccionImagenLogin{
  width: max-content;
  height:min-content;
}

.logo{
  width: 400px;
  height: 400px;
  top: 230px;
  left: 550px;
  position:fixed;
  opacity: 0.9;
  background:none;
  
}

.logoSB{
  padding-bottom: 40px;
  padding-left: 65px;
}


.styleUl1{
  top: 100px;
  position:fixed;
  font-size: 30px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  left: 20px;
}

.styleUl2{
  left: 20px;
  top: 680px;
  position:fixed;
  font-size: 30px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:white;
}

.buttonList{
background-color: transparent;
color:rgb(27, 20, 7);
width: 250px;
height: 50px;
border-color: transparent;
font-size: 25px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
cursor: pointer;
}

.buttonList:hover{
  background-color:rgb(180, 240, 180);
  border-radius: 5px;
  font-size: 30px;
  color:rgb(87, 83, 83);
}
.cuadrodetexto{
  position:fixed;
  width: 800px;
  height: 50px;
  border-radius: 30px;
  border-color: transparent;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font: bolder;
  left:700px;
  top: 80px;
}
.fondoSB{
  background-image: url(./media/fondoSideBar2.jpg)
}

.tabla td,
.tabla th{
  padding: 8px;
  border: 1px solid rgb(184, 180, 180);
  text-align: left;
}
.tabla tbody{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tabla th{
  
  padding-top: 12px;
  padding-bottom: 12px;
}

.tabla tr:hover{
  background-color: rgb(231, 239, 248);
  cursor: pointer;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(202, 25, 25);
  -webkit-transition: .50s;
  transition: .50s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #13c256;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 90px;
}

.slider.round:before {
  border-radius: 80%;
}




